body{
	position: absolute;
	width:100%;
	height: 100%;
	margin:0;
}
header{
	position: fixed;
	width: 100%;
	height: 2em;
	background-color: gray;
}
#searchBox{
	position: relative;
	top: 0.5em;
	left: 30%;
	width: 20%;
}
header a{
	float: right;
	margin:0 1em;
}
#loginBox{
	z-index: 1002;
	display: none;
	background-color: blue;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -15em -10em;
	width: 20em;
	height: 20em;
}
#regBox{
	z-index: 1002;
	display: none;
	background-color: pink;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -15em -10em;
	width: 20em;
	height: 20em;
}
#mask{
	top:0px;
	position:fixed;
	width:100%;
	height:100%;
	z-index: 1001;
	background-color: rgba(50%,50%,50%,0.5);
	display: none;
}
#mask2{
	top:0px;
	position:fixed;
	width:100%;
	height:100%;
	z-index: 1001;
	background-color: rgba(50%,50%,50%,0.5);
	display: none;
}
#mask3{
	top:0px;
	position:fixed;
	width:100%;
	height:100%;
	z-index: 1003;
	background-color: rgba(50%,50%,50%,0.5);
	display: none;
}
#contentContainer{
	background-color: darkviolet;
	margin-left:13%;
	width:60%;
	height: auto;
	overflow: hidden;
}
#columnContainer{
	margin-left:40%;
	overflow: hidden;
}
.column{
	width: 160px;
	margin-left: 5px;
	float: left;
	height: auto;
	overflow: hidden;
}
.contentBox{
	height: 10em;
	width:80%;
	margin: 1em auto;
	background: saddlebrown;
}
.contentBox.s1{
	height:17em;
	background: darkseagreen;
}
.contentBox.s2{
	height:8em;
}
.contentBox.s3{
	height:10em;
}
.contentBox.s4{
	height:23em;
}
#addButton{
	position: fixed;
	right: 2em;
	bottom: 2em;
	width:4em;
	height: 4em;
}
#addBox{
	display: none;
	position: fixed;
	top:50%;
	left: 50%;
	margin: -15em -20em;
	z-index: 1002;
	height: 30em;
	width: 40em;
	background-color: lime;
}
#CommentBox{
	display: none;
	position: fixed;
	top:50%;
	left: 50%;
	margin: -15em -20em;
	z-index: 1002;
	height: 30em;
	width: 40em;
	background-color:red;
}
#addBox textarea{
	height: 20em;
	width:30em;
}
#detailMask{
	display: none;
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,255,0.5);
}
#detailBox{
	display: none;
	position: fixed;
	margin-left: 20%;
	height: auto;
	width: 60%;
	overflow: hidden;
	background: aquamarine;
	top: 2em;
	z-index:1002;
}
#detailBox img{
	position: absolute;
	vertical-align:central;
	
	overflow: hidden;
	background: white;
	
}
#detailData {
	margin: 5em auto;
	width: 80%;
	height: 60em;
}
.insideImg{
	margin-bottom: 5px;
	border-radius: 6px;
}
#detailtext{
	font-size:30px;
	font-weight:bold;
	text-align:center;
	}
#detailpic{
	height:450px;
	width:300px;
	margin:0px auto 0px;
	}
#detailpic img{
	height:450px;
	width:300px;
	}
#CommentBox{
	z-index:1050;
	position:absolute;
	width:500px;
	height:400px;
	
	}
#comment1{
	z-index:1002;
	background:white;
	position:absolute;
=======
	width:400px;
	height:400px;
	
	}
.comment{
	z-index:1011;
	background-color:white;
	position:absolute;
	border:1px red solid;
	display:none;
	}
#detailbutton{
	height:100px;
	width:100px;
	float:right;
	}
#commentbox_text{
	text-align:center;
	padding-top:10px;
	width:600px;
	width:400px;
	}
#commentbox_button{
	margin:0px auto 0px;
	float:right;
	}
.hint:hover{
	background: grey;
}